이 프로그램은 크롬 확장프로그램이야
20개 언어 사용자가 사용할 수 있도록 메뉴를 제공해(i18n 라이브러리 사용)
기능1 : 제스쳐 기능
    - 마우스 좌우 드래그 시, 웹페이지 앞뒤로 이동
    - 좌우 드래그 시, < > 이런 모양의 화살표 표시하고 그 아래 텍스트 표시하고, 그 전체를 네모상자로 깜싸줘
기능2 : 복사 방지 해제 기능
    - 확장프로그램 메뉴에서 복사 방지 해제 기능을 사용할 수 있어야 함
    - 설정 사항 저장
기능3 : 접두어 검색 기능
    - 확장프로그램 메뉴에 등록된 접두어와 웹페이지에서 선택된 텍스트, 마우스 오른쪽 메뉴를 통해 구글에서 검색
    - 설정 사항 저장
기능4 : 유튜브 앞뒤 스크롤 기능 
    - 유튜브 플레이어에 << 버튼과 >> 버튼을 추가해서 5초씩 앞뒤로 스크롤 할 수 있어야 함
    - 메뉴에서 스크롤 시간 설정 가능
    - 설정 사항 저장
    
각 기능별 코드는 구분해줘
