이 프로그램은 크롬 확장프로그램이야
다중언어 사용자가 사용할 수 있도록 내용을 제공해
기능1 : 제스쳐 기능
    - 마우스 좌우 드래그 시, 웹페이지 앞뒤로 이동
기능2 : 복사 방지 해제 기능
    - 확장프로그램 메뉴에서 복사 방지 해제 기능을 사용할 수 있어야 함
    - 설정 사항 저장
기능3 : 접두어 검색 기능
    - 확장프로그램 메뉴에 등록된 접두어와 웹페이지에서 선택된 텍스트, 마우스 오른쪽 메뉴를 통해 구글에서 검색
    - 설정 사항 저장
